<footer class="container bg-white px-5 py-4 mt-4 card shadow">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto">
            <div class="small m-0">Copyright &copy; Matthias Arndt 2024</div>
        </div>
        <div class="col-auto">
            <a class="small" href="#!">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a class="small" href="#!">Terms</a>
            <span class="mx-1">&middot;</span>
            <a class="small" href="#!">Contact</a>
        </div>
    </div>
</footer>
