<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/todo-list.css">
</head>
<body class="bg-primary bg-opacity-10">
	<div class="container">
		<%- include('partials/nav') %>
		<main class="row align-items-center">
			<div class="text-center pt-5 mb-5">
				<h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Meine TODO-Liste</span></h1>
			</div>
			<div>
				<form id="edit-form" class="hidden m-4 p-2 rounded align-items-center shadow">
					<input type="text" id="edit-input" placeholder="Aufgabe bearbeiten">
					<button class="btn btn-primary rounded-circle" title="Abbrechen" type="button" id="abort-edit">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
						</svg>
					</button>
					<button class="btn btn-primary rounded-circle" title="Bestätigen" type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
							<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
						</svg>
					</button>
				</form>
				<form id="todo-form" class="m-4 p-2 rounded align-items-center shadow">
					<input type="text" id="todo-input" placeholder="Neue Aufgabe hinzufügen">
					<button class="btn btn-primary rounded-circle" title="Hinzufügen" type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
						</svg>
					</button>
				</form>
			</div>
			<ul id="todo-list">
			<!-- Unordered list to dynamically add todo list items. -->
			</ul>
		</div>
		<%- include('partials/footer') %>
	</div>
	<script src="/js/todo.js"></script>
</body>
</html>